//
//  Config-Release.xcconfig
//  Mothership
//
//  Created by Martin Kim Dung-Pham on 04.07.21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_URL = https:/$()/neoneon.dev/api
MANIFEST_DOWNLOAD_URL = https:/$()/neoneon.dev
